@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414; 
  --foreground: #f5f5f5; 
  --totalwhite: #FFF;
  
  --primary: #0a29f5; 
  --secondary: #6375eb; 
  --accent: #3a86ff; 
  --light-blue: #84C5DE; 
  
  --muted: #525252; 
  --border: #a3a3a3; 
  --input: #cccccc; 
  --text-color: #f5f5f5; 
}
.root h1 p{
  color:var(--totalwhite);
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%; 
}
.logo {
  margin-left: -900px;
  width: 30vh;
  height: 30vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url(/img/background.jpg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveBackground 30s linear infinite;
}
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
.container {
  background: linear-gradient(135deg, #1c2230, #3a4b7d, #6b7ab0); 
  opacity: 95%;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}
label {
  display: block;
  margin-top: 10px;
  color: var(--totalwhite); 
}
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--border); 
  border-radius: 2px;
  box-sizing: border-box;
  background-color: var(--foreground); 
  color: var(--background);
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: var(--accent); 
  color: var(--totalwhite);
  border: none;
  gap: 30px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
button:hover {
  background: #2a6cb2; 
}
.footer {
  margin-left: 150px;
  margin-bottom: 1px;
}
@media (max-width: 768px) {
  .logo-container {
    display: none;
  }

  .logo {
    margin-left: 0; 
    width: 20vh; 
    height: 20vh; 
  }

  .container {
    padding: 20px;
    max-width: 100%;
  }

  .footer {
    margin-left: 0;
    text-align: center;
  }
}